/* FULL SCREEN */

.chart:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.chart:-moz-full-screen {
  width: 100%;
  height: 100%;
}

.chart:-ms-fullscreen {
  width: 100%;
  height: 100%;
}

.chart:fullscreen {
  width: 100%;
  height: 100%;
}

/* GENERAL */

.chart {
  float: left;
  max-height: 800PX;
  height: 200PX;
  position: relative;
  width: 100%;
}

.highcharts-draw-mode {
  cursor: crosshair;
}

.left {
  float: left;
}

.right,
.highcharts-stocktools-toolbar li.right {
  float: right;
}

/* GUI */
.highcharts-stocktools-wrapper {
  display: block;
}
.highcharts-stocktools-toolbar {
  margin: 0;
  padding: 0;
  width: 100%;
  .more{
    float: left;
  padding-left: 55px;
  padding-right: 5px;
  position: relative;
  img{
      display: inline-block;
      width: 46px;
      height: 46px;
      top: 50%;
      position: absolute;
      margin-top: -23px;
    }
  }
}

.highcharts-stocktools-toolbar li {
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  height: 60px;
  list-style: none;
  margin-bottom: 3PX;
  padding: 2PX;
  padding-left: 50px;
  padding-right: 40px;
  position: relative;
  width: auto;
  display: flex;
  img {
    display: block;
  }
 
  
}

.highcharts-stocktools-toolbar li ul {
  display: none;
  left: 0PX;
  padding-left: 0PX;
  position: absolute;
  z-index: 125;
}

.highcharts-stocktools-toolbar li:hover {
}

.highcharts-stocktools-toolbar li:hover ul {
  display: block;
}

.highcharts-stocktools-toolbar li ul li {
  margin-bottom: 0PX;
  width: 120PX;
}

.highcharts-stocktools-toolbar li > span.highcharts-menu-item-btn {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  float: left;
  height: 100%;
  width: 32PX;
  height: 32PX;
}

.highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
  color: #666;
  line-height: 32PX;
  font-size: 0.876em;
  padding: 0PX 10PX 0PX 5PX;
}

li.highcharts-active {
  background-color: #e6ebf5;
}

/* Popup */

.chart-wrapper {
  position: relative;
  width: 100%;
  background: #303030;
}

/* Responsive design */

@media screen and (max-width: 1024PX) {
  .highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
    display: none;
  }
  .highcharts-stocktools-toolbar li ul li {
    width: auto;
  }
}

.highcharts-popup.highcharts-annotation-toolbar {
  right: 10%;
  left: auto;
  height: 40PX;
  overflow: hidden;
  padding-right: 40PX;
  width: auto;
  min-width: 0;
}

.highcharts-popup.highcharts-annotation-toolbar button {
  margin-top: 0PX;
}

.highcharts-popup.highcharts-annotation-toolbar > span {
  display: block;
  float: left;
  padding: 12PX;
}

.highcharts-popup {
  background-color: #fff;
  color: #666;
  display: none;
  font-size: 0.876em;
  max-height: 90%;
  top: 5%;
  left: 15%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 75%;
  min-width: 300PX;
  max-width: 600PX;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 0PX 0PX 8PX 0PX rgba(61, 61, 61, 0.3);
  -moz-box-shadow: 0PX 0PX 8PX 0PX rgba(61, 61, 61, 0.3);
  box-shadow: 0PX 0PX 8PX 0PX rgba(61, 61, 61, 0.3);
}

.highcharts-popup div,
.highcharts-popup span {
  box-sizing: border-box;
}

.highcharts-popup input,
.highcharts-popup label,
.highcharts-popup select {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 10PX;
  box-sizing: border-box;
}

.highcharts-popup input {
  border: 1PX solid #e6e6e6;
  padding: 5PX;
  width: 100%;
}

.highcharts-popup-lhs-col,
.highcharts-popup-rhs-col {
  height: 100%;
  float: left;
  overflow-y: auto;
}

.highcharts-popup-lhs-col.highcharts-popup-lhs-full {
  width: 100%;
  overflow-x: hidden;
  height: calc(100% - 104PX);
  border: none;
  padding: 20PX;
  padding-bottom: 10PX;
}

.highcharts-popup-lhs-col.highcharts-popup-lhs-full + .highcharts-popup-bottom-row {
  width: 100%;
}

.highcharts-popup-lhs-col {
  clear: both;
  width: 30%;
  border-right: 1PX solid #e6e6e6;
}

.highcharts-popup-bottom-row {
  float: left;
  padding: 0PX 20PX;
  padding-bottom: 12PX;
  width: 100%;
  border-top: 1PX solid #e6e6e6;
}

.highcharts-popup-rhs-col {
  width: 70%;
  height: calc(100% - 40PX);
  padding: 20PX;
}

.highcharts-popup-rhs-col-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.highcharts-popup-rhs-col-wrapper h3 {
  margin-top: 0PX;
  padding-bottom: 0PX;
}

.highcharts-bindings-wrapper ul.highcharts-indicator-list,
.highcharts-indicator-list {
  float: left;
  color: #666;
  height: calc(100% - 70PX);
  width: 100%;
  overflow-x: hidden;
  margin: 0PX;
  padding: 15PX 0PX;
}

.highcharts-indicator-list li {
  cursor: pointer;
  padding: 5PX 20PX;
  margin: 0PX;
  width: 100%;
  height: auto;
  overflow: hidden;
  word-break: break-all;
  box-sizing: border-box;
}

.highcharts-indicator-list li:hover {
  background-color: #e6ebf5;
}

.highcharts-tab-item {
  background-color: #f7f7f7;
  cursor: pointer;
  display: block;
  float: left;
  padding: 0PX 10PX;
  height: 40PX;
  line-height: 40PX;
}

.highcharts-tab-item.highcharts-tab-item-active {
  background-color: #e6ebf5;
}

.highcharts-tab-item-content {
  display: none;
  float: left;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-top: 1PX solid #e6e6e6;
}

.highcharts-tab-item-show {
  display: block;
}

.highcharts-popup-close {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40PX;
  height: 40PX;
  cursor: pointer;
  position: absolute;
  padding: 10PX;
  top: 0%;
  right: 0%;
  color: #333333;
}

.highcharts-popup-close:hover,
.highcharts-popup button:hover,
.highcharts-popup button.highcharts-annotation-edit-button:hover,
.highcharts-popup button.highcharts-annotation-remove-button:hover {
  background-color: #e6ebf5;
}

.highcharts-popup button {
  float: right;
  border: none;
  background: #f7f7f7;
  color: #666;
  margin-left: 5PX;
  margin-top: 12PX;
}

.highcharts-popup button:first-child {
  margin-left: 0;
}

.highcharts-tab-disabled {
  color: #ccc;
}

/* annotation edit small popup */
.highcharts-popup button.highcharts-annotation-edit-button,
.highcharts-popup button.highcharts-annotation-remove-button {
  width: 20PX;
  height: 40PX;
  padding: 20PX;
}

.highcharts-popup button.highcharts-annotation-edit-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999PX;
}

.highcharts-popup button.highcharts-annotation-remove-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999PX;
}

.highcharts-popup .highcharts-annotation-title {
  display: block;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15PX;
  width: 100%;
}

.highcharts-popup .highcharts-popup-main-title {
  border-bottom: 1PX solid #e6e6e6;
  margin: 0PX;
  padding: 8PX 0PX 6PX 20PX;
}

.highcharts-indicator-title {
  float: left;
  padding-bottom: 15PX;
}

.highcharts-candlestick-series .highcharts-point {
  stroke: #cf4e63;
  fill: #cf4e63;
}
.highcharts-candlestick-series .highcharts-point-up {
  stroke: #227565;
  fill: #227565;
}
.highcharts-credits {
  display: none;
}
.highcharts-axis-resizer {
  display: none;
}
.highcharts-reset-zoom {
  background-color: #597d84;
  .highcharts-button-box {
    width: 60PX;
    height: 30PX;
    fill: #597d84;
    stroke: #597d84;
  }

  text {
    color: white !important;
    font-weight: normal;
    fill: white !important;
    font-size: 12PX;
  }
}

.highcharts-menu-wrapper {
  background-color: #303030;
  ul {
    background-color: #303030;
  }
}


.clear {
  clear: both;
}

