/* FULL SCREEN */

.chart:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.chart:-moz-full-screen {
  width: 100%;
  height: 100%;
}

.chart:-ms-fullscreen {
  width: 100%;
  height: 100%;
}

.chart:fullscreen {
  width: 100%;
  height: 100%;
}

/* GENERAL */

.chart {
  float: left;
  max-height: 800px;
  height: 400px;
  position: relative;
  width: 100%;
}

.highcharts-draw-mode {
  cursor: crosshair;
}

.left {
  float: left;
}

.right,
.highcharts-stocktools-toolbar li.right {
  float: right;
}

/* GUI */
.highcharts-stocktools-wrapper {
  display: block;
}
.highcharts-stocktools-toolbar {
  margin: 0;
  padding: 0;
  width: 100%;
  .more {
    float: left;
    position: relative;
    img {
      display: inline-block;
      width: 46px;
      height: 46px;
      top: 50%;
      left: 50%;
      position: absolute;
      margin-top: -23px;
      margin-left: -23px;
    }
  }
}

.highcharts-stocktools-toolbar li {
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  height: 60px;
  list-style: none;
  margin-bottom: 8px;
  position: relative;
  width: auto;
  display: flex;
  width: 20%;
  img {
    display: block;
    margin: 0 auto;
  }

  .MuiButtonBase-root {
    margin: 0 auto;
  }
}

.highcharts-stocktools-toolbar li ul {
  left: 50%;
  padding-left: 0px;
  width: 50PX;
  margin-left: -25PX;
  position: absolute;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
  z-index: 125;
}

.highcharts-stocktools-toolbar li ul li {
  width: 50PX !important;
  margin: 0 auto;
  margin-bottom: 5px;
}

.highcharts-stocktools-toolbar li > span.highcharts-menu-item-btn {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: block;
  float: left;
  height: 100%;
  width: 32px;
  height: 32px;
}

.highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
  color: #666;
  line-height: 32px;
  font-size: 0.876em;
  padding: 0px 10px 0px 5px;
}

/* Popup */

.chart-wrapper {
  position: relative;
  width: 700px;
  margin: 0 auto;
  background: #303030;
}

/* Responsive design */

@media screen and (max-width: 1024px) {
  .highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
    display: none;
  }
  .highcharts-stocktools-toolbar li ul li {
    width: auto;
  }
}

.highcharts-popup.highcharts-annotation-toolbar {
  right: 10%;
  left: auto;
  height: 40px;
  overflow: hidden;
  padding-right: 40px;
  width: auto;
  min-width: 0;
}

.highcharts-popup.highcharts-annotation-toolbar button {
  margin-top: 0px;
}

.highcharts-popup.highcharts-annotation-toolbar > span {
  display: block;
  float: left;
  padding: 12px;
}

.highcharts-popup {
  background-color: #fff;
  color: #666;
  display: none;
  font-size: 0.876em;
  max-height: 90%;
  top: 5%;
  left: 15%;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 75%;
  min-width: 300px;
  max-width: 600px;
  position: absolute;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(61, 61, 61, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(61, 61, 61, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(61, 61, 61, 0.3);
}

.highcharts-popup div,
.highcharts-popup span {
  box-sizing: border-box;
}

.highcharts-popup input,
.highcharts-popup label,
.highcharts-popup select {
  clear: both;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.highcharts-popup input {
  border: 1px solid #e6e6e6;
  padding: 5px;
  width: 100%;
}

.highcharts-popup-lhs-col,
.highcharts-popup-rhs-col {
  height: 100%;
  float: left;
  overflow-y: auto;
}

.highcharts-popup-lhs-col.highcharts-popup-lhs-full {
  width: 100%;
  overflow-x: hidden;
  height: calc(100% - 104px);
  border: none;
  padding: 20px;
  padding-bottom: 10px;
}

.highcharts-popup-lhs-col.highcharts-popup-lhs-full + .highcharts-popup-bottom-row {
  width: 100%;
}

.highcharts-popup-lhs-col {
  clear: both;
  width: 25%;
  border-right: 1px solid #e6e6e6;
}

.highcharts-popup-bottom-row {
  float: left;
  padding: 0px 20px;
  padding-bottom: 12px;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.highcharts-popup-rhs-col {
  width: 75%;
  height: calc(100% - 40px);
  padding: 20px;
}

.highcharts-popup-rhs-col-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.highcharts-popup-rhs-col-wrapper h3 {
  margin-top: 0px;
  padding-bottom: 0px;
}

.highcharts-bindings-wrapper ul.highcharts-indicator-list,
.highcharts-indicator-list {
  float: left;
  color: #666;
  height: calc(100% - 100px);
  width: 100%;
  overflow-x: hidden;
  margin: 0px;
  padding: 15px 0px;
}

.highcharts-indicator-list li {
  cursor: pointer;
  padding: 5px 20px;
  margin: 0px;
  width: 100%;
  height: auto;
  overflow: hidden;
  word-break: break-all;
  box-sizing: border-box;
}

.highcharts-indicator-list li:hover {
  background-color: #e6ebf5;
}

.highcharts-tab-item {
  background-color: #f7f7f7;
  cursor: pointer;
  display: block;
  float: left;
  padding: 0px 10px;
  height: 40px;
  line-height: 40px;
}

.highcharts-tab-item.highcharts-tab-item-active {
  background-color: #e6ebf5;
}

.highcharts-tab-item-content {
  display: none;
  float: left;
  height: 100%;
  overflow: hidden;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.highcharts-tab-item-show {
  display: block;
}

.highcharts-popup-close {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  top: 0%;
  right: 0%;
  color: #333333;
}

.highcharts-popup-close:hover,
.highcharts-popup button:hover,
.highcharts-popup button.highcharts-annotation-edit-button:hover,
.highcharts-popup button.highcharts-annotation-remove-button:hover {
  background-color: #e6ebf5;
}

.highcharts-popup button {
  float: right;
  border: none;
  background: #f7f7f7;
  color: #666;
  margin-left: 5px;
  margin-top: 12px;
}

.highcharts-popup button:first-child {
  margin-left: 0;
}

.highcharts-tab-disabled {
  color: #ccc;
}

/* annotation edit small popup */
.highcharts-popup button.highcharts-annotation-edit-button,
.highcharts-popup button.highcharts-annotation-remove-button {
  width: 20px;
  height: 40px;
  padding: 20px;
}

.highcharts-popup button.highcharts-annotation-edit-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999px;
}

.highcharts-popup button.highcharts-annotation-remove-button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-indent: -9999px;
}

.highcharts-popup .highcharts-annotation-title {
  display: block;
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 15px;
  width: 100%;
}

.highcharts-popup .highcharts-popup-main-title {
  border-bottom: 1px solid #e6e6e6;
  margin: 0px;
  padding: 8px 0px 6px 20px;
}

.highcharts-indicator-title {
  float: left;
  padding-bottom: 15px;
}

.highcharts-candlestick-series .highcharts-point {
  stroke: #cf4e63;
  fill: #cf4e63;
}
.highcharts-candlestick-series .highcharts-point-up {
  stroke: #227565;
  fill: #227565;
}
.highcharts-credits {
  display: none;
}
.highcharts-axis-resizer {
  display: none;
}
.highcharts-reset-zoom {
  background-color: #597d84;
  .highcharts-button-box {
    width: 60px;
    height: 30px;
    fill: #597d84;
    stroke: #597d84;
  }

  text {
    color: white !important;
    font-weight: normal;
    fill: white !important;
    font-size: 12px;
  }
}

.highcharts-menu-wrapper {
  background-color: #303030;
  ul {
    background-color: #303030;
  }
}

.clear {
  clear: both;
}

.chart-wrapper{
  .highcharts-tracker-line {
    stroke: #559de9;
    stroke-width: 1;
  }
  
}

.MuiPaper-root {
  background-color: #303030 !important;
}
.MuiFormLabel-root {
  color: #fff !important;
  font-size: 14PX !important;
}

.MuiButtonBase-root {
  color: #fff !important;
}
.MuiSelect-root {
  color: #fff !important;
  font-size: 12PX !important;
}
.MuiInputBase-root {
  line-height: 50px !important;
}
.MuiSelect-icon {
  top: -30px !important;
  width: 50px !important;
  fill: #ffffff !important;
}

label + .MuiInput-formControl {
  width: 250px !important;
}
.MuiInputBase-input {
  padding: 0px 0 0px !important;
  height: 50px !important;
}
.MuiInputBase-input {
  border-bottom: 1px solid #ffffff !important;
}
.MuiInput-underline:after {
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  border-bottom: 1px solid #ffffff !important;
  pointer-events: none;
}
.MuiListItem-root {
  font-size: 14PX !important;
}

.MuiInput-input {
  font-size: 12PX !important;
  color: #fff !important;
}

.MuiInputLabel-animated {
  font-size: 10PX !important;
}

.Indicators {
  .MuiButtonBase-root {
    padding: 0;
    min-width: 32px;
    width: 32px;
  }
}
.chart-full-wrapper {
  width: 100%;
  height: 100%;
  .fullChart {
    height: 100%;
    margin-top: 50px;
  }
}
